<component name="ArtifactManager">
  <artifact type="war" name="spring-app8:war">
    <output-path>$PROJECT_DIR$/../spring-app8/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-app8</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-app8.war">
      <element id="artifact" artifact-name="spring-app8:war exploded" />
    </root>
  </artifact>
</component>